<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/styles.css">
    <title><!-- Título da aba --></title>
  </head>
  <body>
      <main>
        <article>
          <h1><!-- Título principal do artigo --></h1>

          <!-- Sumário -->
          <section class="summary">
            <h2>SUMÁRIO</h2>
            <ol>
              <li><a href="<!-- ID do tópico -->"><!-- Nome do tópico --></a></li>
            </ol>
          </section>

          <!-- Uma seção/tópico do artigo -->
          <section>
            <h2 id="<!-- ID do tópico -->"><!-- Nome do tópico--></h2>

            <p><!-- Parágrafo do tópico --></p>


          </section>

          <!-- Referências -->
          <section class="references">
            <h2>REFERÊNCIAS</h2>
            <ol>
              <li><!-- Referência --></li>
            </ol>
          </section>
        </article>
      </main>
      <!-- Rodapé -->
      <footer>
        <p>Intelecto Anônimo Copyright &copy; 2023-2024</p>
        <p>Exceto onde informado ao contrário, o conteúdo deste site
        está sob a licença <em lang="en">Creative Commons Attribution-NoDerivatives 4.0</em></p>
      </footer>
    </div>
  </body>
</html>
